
/* CSS MAIN HEADER */

.main-header {
    display: block;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;

}

nav{
    width: 100%
}

.iconen-bar{
    display: flex;
    justify-content: space-around;
}

.DH-bar{
    display: flex;
    justify-content: space-around;

}

.korting{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;

}

h1{
    background-color: none;

}

#kortingtekst h1, #kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;
}

/* EIND CSS MAIN HEADER */


img{
    width: 300px;
    height: auto;
}


