body {
    font-family: Futura, sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;


}

a:hover {
    color: black;
}

ul{
    list-style-type: none;

}


/* CSS MAIN HEADER */

.main-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;


}

.iconenbar{
    display: flex;
    align-items: center;
}

.menulogo{
    display: flex;
    margin: 0;
    padding: 0;

}


/*bron button stylen: https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/

.menulogo button{
    margin: 1em;
    margin-top: 21.5px;
    background: none;
    border: none;
    cursor: pointer;
}

.overigeiconen{
    display: flex;
    margin-left: auto;
    width: 13em;
    justify-content: space-around;
    align-items: center;

}

.overigeiconen svg{
    width: 22px;
}





nav {
    width: 100%
}



.DH-bar {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding: 0;


}

.DH-bar a{
    color: white;
    border: 1px solid;
    border-color: gainsboro;
    padding: 1em;
    padding-left: 6.5em;
    padding-right: 6.5em;
    transition: 0.5s;
}

.DH-bar a:hover{
    color: black;
    background-color: gainsboro;

}


#kledingzoeken {
    width: 98%;
    height: 30px;
    border-radius: 20px;
    color: gray;
}

.korting {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin-top: 11em;
    width: 100%


}

h1 {
    background-color: none;

}

#kortingtekst h1,
#kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;


}

/*hamburgermenu*/

.subNav{
    position: absolute;
    overflow: scroll;
    top: 4.4em;
    left: 0;
    background-color: #ffffff;
    width: 20em;
    z-index: 1000;
    transition: 0.5s;
    transform: translateX(-110%);

}

.subNav.active{
    transform: translateX(0);
    transition: 0.5s;


}

.subNav img{
    padding: 16px 0px 0px 16px;
}

/* eind hamburgermenu */


/* EIND CSS MAIN HEADER */

.ultiemeedit {
    margin-top: 2em;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;


}

.ultiemeedit a {
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    border: 2px solid;
    transition:  0.5s;


}

.ultiemeedit a:hover {
    color: white;
    background-color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.voorgesteldeitems h2{
    text-align: center;
}

.voorgesteldeitems ul {
    display: grid;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;
}


/* bron: https://www.youtube.com/watch?v=VF5kD6QEEag */

.voorgesteldeitems li {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px;

}

.voorgesteldeitems img {
    width: 100%
}




@media(min-width: 40em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media(min-width: 70em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





#vi-titel {
}


.voorgesteldeitems p {

}

.voorgesteldeitems a {
    color: black;


}


.laatstearticles a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 1em;
    border: 2px solid;
    transition: .5s;


}

.laatstearticles a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.laatstearticles h2{
    text-align: center;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 2em;
}



.wantit {
    text-align: center;
}



.test h2:first-of-type{
    margin-top: 2em;
    text-align: center;

}

.wantit p{
    text-align: center;
}


.wantit img{
    width: 18em;
    margin-top: 2em;
}


.wantit a{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 16px;
    transition: .5s;
}

.wantit a:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

/* bron: https://css-tricks.com/snippets/css/complete-guide-grid/ */

@media(min-width: 40em){
    .test {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .test h2{
        grid-column: 1/-1;
    }
}






.grotemerken{
    align-items: center;
    margin-top: 3.5em
}

.grotemerken h2{
    font-size:20px;
    text-align: center;

}

.grotemerken ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;
}

@media(min-width: 40em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 70em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}




img {
    width: 200px;
    height: auto;
}

.footeralgemeen {
    position: absolute;
    left: 0;
    width: 100%;
    color: dimgray;
    background-color: #ddd;
    display: flex;
    height: 50px;
}

.footeralgemeen h3{
    margin-left: 20px;
    font-size: 12px;
    color: #666;
    font-weight: lighter;
    padding-top: 0.5em;
}

.footeralgemeen h3:first-of-type{
    margin-right: auto

}

.footeralgemeen h3:nth-of-type(4){
    margin-right: 1em;
}
