body {
    font-family: Futura, sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;


}

a:hover {
    color: black;
}

ul{
    list-style-type: none;

}


/* CSS MAIN HEADER */

.main-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;


}

.logo svg{

}



nav {
    width: 100%
}



.DH-bar {
    display: flex;
    justify-content: space-around;

}

#kledingzoeken {
    width: 98%;
    height: 30px;
    border-radius: 20px;
    color: gray;
}

.korting {
    position: absolute;
    top: 9em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin-top: 10px;
    width: 100%


}

h1 {
    background-color: none;

}

#kortingtekst h1,
#kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;


}

/* EIND CSS MAIN HEADER */

.ultiemeedit {
    margin-top: 20em;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;


}

.ultiemeedit a {
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    border: 2px solid;
    transition:  0.5s;


}

.ultiemeedit a:hover {
    color: white;
    background-color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.voorgesteldeitems h1{
    text-align: center;
}

.voorgesteldeitems ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: auto; margin-right: auto;

}

@media(min-width: 40em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 70em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}






#vi-titel {
}

.voorgesteldeitems img {
    margin-top: 2em;
}

.voorgesteldeitems p {

}

.voorgesteldeitems a {


}


.laatstearticles a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 16px;
    border: 2px solid;
    transition: .5s;


}

.laatstearticles a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.laatstearticles h2{
    text-align: center;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.laatstearticles p{
    text-align: center;
}

.nikesectie{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-left: auto; margin-right: auto;
}

.nikesectie a{
       display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 16px;
    border: 2px solid;
    transition: .5s;
}

.nikesectie a:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.grotemerken{
    display: flex;
}

.grotemerken h2{

    font-size:20px;
}


img {
    width: 250px;
    height: auto;
}

footer {
    position: absolute;
    left: 0;

    width: 100%;
    color: dimgray;
    background-color: #ddd;
    display: flex;
    height: 50px;
}

.footeralgemeen h3{
    margin-left: 20px;
    font-size: 12px;
    color: #666;

}
