body {
    font-family: Futura, Futura pt, sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;


}

a:hover {
    color: black;
}

ul{
    list-style-type: none;

}

/* bron voor verbergen h1
https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/*/


h1{
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* CSS MAIN HEADER */

.main-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;


}

.iconenbar{
    display: flex;
    align-items: center;
}

.menulogo{
    display: flex;
    margin: 0;
    padding: 0;

}


/*bron button stylen: https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/

.menulogo button{
    margin: 1em;
    margin-top: 1.7em;
    background: none;
    border: none;
    cursor: pointer;
}

.overigeiconen{
    display: flex;
    margin-left: auto;
    width: 13em;
    justify-content: space-around;
    align-items: center;

}

.overigeiconen svg{
    width: 1.5em;
}





nav {
    width: 100%
}



.DH-bar {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding: 0;

}




.DH-bar a{
    color: white;
    border: 1px solid;
    border-color: gainsboro;
    padding: 1em;
    padding-left: 6.5em;
    padding-right: 6.5em;
    transition: 0.5s;

}

.DH-bar a:hover{
    color: black;
    background-color: gainsboro;

}

.hiddenmenu{
    padding: 0;
    display: flex;
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 0
}

.hiddenmenu li{
    padding-top: 1em;
}

.hiddenmenu a{
    color: white;
    border-color: gainsboro;
    transition: 0.15s;
    padding: 1em;
    background-color: #525050;
    border-top: 1px solid gainsboro;
}

.hiddenmenu a:hover{
    background-color: rgb(239, 239, 239);
    color: black;
}


.korting {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin-top: 9em;
    width: 100%


}

@media(min-width: 70em){
    .hiddenmenu{
        z-index: 1000;
        top: 6.8em;
        background: #525050;
        padding-bottom: 1em;
    }

    .hiddenmenu li {
        width: 100vw;
        margin-left: 0;
    }

    .korting{
        margin-top: 12.5rem;
    }

}




#kortingtekst h1,
#kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;


}

/*hamburgermenu*/

.subNav{
    position: absolute;
    overflow: scroll;
    top: 4.4em;
    left: 0;
    background-color: #ffffff;
    width: 20em;
    z-index: 1000;
    transition: 0.5s;
    transform: translateX(-110%);

}

.subNav.active{
    transform: translateX(0);
    transition: 0.5s;


}

.subNav img{
    padding: 1.2em 0em 0em 1em;
}

/* eind hamburgermenu */


/* EIND CSS MAIN HEADER */

.ultiemeedit {
   margin-top: em;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1em;


}

.ultiemeedit a {
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 0.9em;
    margin: auto;
    border: 2px solid;
    transition:  0.5s;


}

.ultiemeedit a:hover {
    color: white;
    background-color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.voorgesteldeitems h2{
    text-align: center;
}

.voorgesteldeitems ul {
    display: grid;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;
}


/* bron: https://www.youtube.com/watch?v=VF5kD6QEEag */

.voorgesteldeitems li {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2.5em;

}

.voorgesteldeitems img {
    width: 100%
}




@media(min-width: 40em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media(min-width: 70em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}










.voorgesteldeitems a {
    color: black;


}


.laatstearticles a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 9.5em;
    padding: 0.9em;
    margin: auto;
    margin-bottom: 1em;
    border: 2px solid;
    transition: .5s;


}

.laatstearticles a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.laatstearticles h2{
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 2em;
}





.test h2:first-of-type{
    margin-top: 2em;
    text-align: center;

}

.wantit h2{
    text-align: center;
    font-weight: 100;
    font-size: 1em
}

.wantit {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-left: 4em;
    padding-right: 4em;

}

.wantit img {
    width: 100%
}

.wantit a{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 0.9em;
    margin: auto;
    transition: .5s;
}

.wantit a:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

/* bron: https://css-tricks.com/snippets/css/complete-guide-grid/ */

@media(min-width: 40em){
    .test {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .test h2{
        grid-column: 1/-1;
    }
}






.grotemerken{
    align-items: center;
    margin-top: 3.5em
}

.grotemerken h2{
    font-size: 1.2em;
    text-align: center;

}

.grotemerken ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;
}

@media(min-width: 40em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 70em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}




img {
    width: 200px;
    height: auto;
}

.footeralgemeen {
    position: absolute;
    left: 0;
    width: 100%;
    color: dimgray;
    background-color: #ddd;
    display: flex;
}

.footeralgemeen h3{
    margin-left: 1.2em;
    font-size: 0.8em;
    color: #666;
    font-weight: lighter;
    padding-top: 0.5em;
}

.footeralgemeen h3:first-of-type{
    margin-right: auto

}

.footeralgemeen h3:nth-of-type(4){
    margin-right: 1em;
}


/*----------------CSS TWEEDE PAGINA------------------*/

.productinfo{
    margin-top: 7.6em;

}

.productinfo h2 {

    font-weight: 100;


}

.productinfo ul{
    padding: 1em;
    padding-top: 0;

}


.productinfo b {
    font-weight: 500;
    letter-spacing: 0.125em;
}

.productinfo li:nth-of-type(2){
    font-size: 1.5em;
    font-weight: 500;
    color: #555;
    margin-bottom: 0;


}

.productinfo li:nth-of-type(3) {
    font-family: futura pt;
    text-decoration: underline;
    font-size: 0.8em;
    color: gray;


}

.productinfo li:nth-of-type(4) {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}


.productinfo img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;

}

.productinfo select{
    width: 94%;
    height: 3em;
    border-color: gainsboro;
    font-size: 1em;

}

.productinfo button{
    margin-top: 1.5em;
    padding: 1em;
    width: 80%;
    text-align: center;
    background: #018849;
    color: white;
    letter-spacing: 0.125em;
    border: none;
    cursor: pointer;

}

.dvjmol h2{
    margin-top: 3.5em;
    margin-left: 1em;
    font-weight: 300;
    font-size: 1.2em

}

.dvjmol ul{
    display: flex;
    overflow-x: auto;
    padding: 0;
}

.dvjmol li{
    padding: 1.5em;
}


.dvjmol a{
    color: black;
    text-decoration: none;
}

@media(min-width: 40em){
    .productinfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10em;
    }
}

@media(min-width: 40em){
    .dvjmol li{
        padding: 1em;
    }

}

@media(min-width: 70em){
    .dvjmol li{
        padding: 3em;
    }

}





