body {
    font-family: Futura, sans-serif;
}

a:link{
    text-decoration: none;


}

a:hover{
    color: black;
}


/* CSS MAIN HEADER */

.main-header {
    display: block;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;


}

nav {
    width: 100%
}

.iconen-bar {
    display: flex;
    justify-content: space-around;
}



.DH-bar {
    display: flex;
    justify-content: space-around;

}

#kledingzoeken {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    color: gray;
}

.korting {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin-top: 10px;


}

h1 {
    background-color: none;

}

#kortingtekst h1,
#kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;


}

/* EIND CSS MAIN HEADER */

.ultiemeedit {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;

}

.ultiemeedit a {
    color: black;
    background-color: pink;
    width: 150px;
    padding: 16px;







}

#vi-titel {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.voorgesteldeitems {


}

.voorgesteldeitems p {
    text-align: center;

}

.voorgesteldeitems a {
    text-align: center;
}


img {
    width: 250px;
    height: auto;
}
