body {
    font-family: Futura, sans-serif;
    margin: 0;
}

a:link {
    text-decoration: none;


}

a:hover {
    color: black;
}

ul{
    list-style-type: none;

}


/* CSS MAIN HEADER */

.main-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2D2D2D;
    width: 100%;
    color: white;
    text-decoration: none;


}

.iconenbar{
    display: flex;
    align-items: center;
}

.menulogo{
    display: flex;
    margin: 0;
    padding: 0;

}


/*bron button stylen: https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/

.menulogo button{
    margin: 1em;
    margin-top: 21.5px;
    background: none;
    border: none;
    cursor: pointer;
}

.overigeiconen{
    display: flex;
    margin-left: auto;
    width: 13em;
    justify-content: space-around;
    align-items: center;

}

.overigeiconen svg{
    width: 22px;
}





nav {
    width: 100%
}



.DH-bar {
    display: flex;
    justify-content: space-around;


}

.DH-bar a{
    color: white;
    border: 1px solid;
    border-color: gainsboro;
    padding: 1em;
    padding-left: 8em;
    padding-right: 8em;
    transition: 0.5s;
}

.DH-bar a:hover{
    color: black;
    background-color: gainsboro;

}


#kledingzoeken {
    width: 98%;
    height: 30px;
    border-radius: 20px;
    color: gray;
}

.korting {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin-top: 17em;
    width: 100%


}

h1 {
    background-color: none;

}

#kortingtekst h1,
#kortingtekst h2 {
    background-color: #FDFDCD;
    color: black;
    display: inline-block;
    margin: .5em;


}

/*hamburgermenu*/

.hamburgermenu{
    overflow: hidden;
    position: relative;
    top: 0;
    background-color: #ffffff;
    width: 20em;
    transition: 0.5s;

}

.hamburgermenu:active{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 20em;
}

.hamburgermenu img{
    padding: 16px 0px 0px 16px;
}

/* eind hamburgermenu */


/* EIND CSS MAIN HEADER */

.ultiemeedit {
    margin-top: 24em;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;


}

.ultiemeedit a {
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    border: 2px solid;
    transition:  0.5s;


}

.ultiemeedit a:hover {
    color: white;
    background-color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.voorgesteldeitems h1{
    text-align: center;
}

.voorgesteldeitems ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;

}

.voorgesteldeitems img{
    width: 400px;
    margin-top: 2em;
}

@media(min-width: 40em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 40em){
    .voorgesteldeitems img{
        width: 320px;
    }
}

@media(min-width: 70em){
    .voorgesteldeitems ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 70em){
    .voorgesteldeitems img{
        width: 280px;
    }
}





#vi-titel {
}


.voorgesteldeitems p {

}

.voorgesteldeitems a {
    color: black;


}


.laatstearticles a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 1em;
    border: 2px solid;
    transition: .5s;


}

.laatstearticles a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.laatstearticles h2{
    text-align: center;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.wantit h2:first-of-type{
    margin-top: 1em

}

.wantit p{
    text-align: center;
}

.wantit {
    text-align: center;
}

.wantit img{
    width: 18em;
    margin-top: 2em;
}


.wantit a{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 150px;
    padding: 12px;
    margin: auto;
    margin-bottom: 16px;
    transition: .5s;
}

.wantit a:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}

.grotemerken{
    align-items: center;
    margin-top: 3.5em
}

.grotemerken h2{
    font-size:20px;
    text-align: center;

}

.grotemerken ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding: 0;
}

@media(min-width: 40em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 70em){
    .grotemerken ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}




img {
    width: 200px;
    height: auto;
}

footer {
    position: absolute;
    left: 0;

    width: 100%;
    color: dimgray;
    background-color: #ddd;
    display: flex;
    height: 50px;
}

.footeralgemeen h3{
    margin-left: 20px;
    font-size: 12px;
    color: #666;

}
